<article class="{{post_class}}">
  <header>
    <div class="insert-ad"></div>
    <h2><a href="{{url}}">{{{title}}}</a></h2>
    <section>
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="YYYY-MM-DD"}}</time>
    </section>
  </header>
  <section>
    {{content}}
  </section>
</article>
