<article class="{{post_class}}">
    <header>
        <h2><a href="{{url}}">{{{title}}}</a></h2>
    </header>
    <section>
        <p>{{excerpt words="50"}}&hellip; <a href="{{url}}">&raquo;</a></p>
    </section>
    <footer>
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="YYYY-MM-DD"}}</time> 
    </footer>
</article>

